/* 
* @Author: Asher
* @Date:   2014-10-30 20:21:16
* @Last Modified by:   Asher
* @Last Modified time: 2014-11-21 09:06:08
*/
/*播放器.progressInfo的样式*/

/*进度条控件*/
.progressControlBar{ 
    height:25px;
    width:300px;
}

.hasBorder
{
    margin: 5px;
    border:1px solid #213cff;
    border-radius: 3px;
}

.stopOrPause{
    cursor: pointer;
    width: 25px;
    text-align: center;
    height: 25px;
}

.progressInfo{
    height: 25px;
    cursor: pointer;
}

.music_info{
    height: 40px;
    width: 150px;
}

.music_lrc{
    margin-top: 0px;
    height: 500px;
    width: 500px;
}
.music_lrc_p{
    height: 20px;
    width: 500px;
}
.music_lrc_pan{
    text-align: center;
    height:350px;
    width: 500px;
    overflow: hidden;
}

.music_lrc_block{
    width: 100%;
    height: 20px;
    float: left;
}
.music_lrc_block_active{
    color: #0f0;
}
