
body{
    background-color: #f2f2f2;
    font: 12px/1.5 'Microsoft YaHei UI','Microsoft YaHei','Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
}

.header{
    height:50px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
.header-content{
    width: 1140px;
    margin: 0 auto;
}

.header .logo{
    float:left;
    margin: 8px auto;
}

.header-nav{
    margin-left: 50px;
    font-size: 16px;
    height:50px;
    line-height: 50px;
    float:left;
    list-style: none;
}
.header-nav li a,.header-nav li a:visited{
    color:#666;
    text-decoration: none;
}

.header-nav li{
    color:#666;
    float:left;
    cursor: pointer;
    height: 50px;
    padding: 0 18px;
}

.header-nav li:hover a{
    color: #ffc107;
}

.header-nav li.active a{
    float:left;
    font-weight: bold;
    color: #ffc107;
}

.header-searcher{
    float: left;
    border: 1px solid #ccc;
    border-radius: 14px;
    height: 28px;
    line-height: 28px;
    width:150px;
    margin-top:11px;
    margin-left: 80px;
}

.header-searcher-placeholder{
    color: #ccc;
    float: left;
    margin-left: 14px;
    user-select:none;
}

.icon-searcher{
    float: right;
    margin-right: 10px;
    margin-top: 6px;
}

.header-login-panel{
    float: right;
    height: 50px;
    line-height: 50px;
}

.header-login-panel a,.header-login-panel a:visited{
    color:#666;
    text-decoration: none;
    vertical-align: middle;
    font-size: 14px;
    margin-left: 10px;
}

.header-login-panel a:hover{
    color: #ffc107;
}

.header-login-panel .icon-qq-login{
    margin-bottom: -4px;
}
.header-login-panel .icon-qq-login:hover{
    background-color: #42a4ff;
}
.content{
    width: 1140px;
    margin: 0 auto;
    padding-top: 20px;
    min-height: 800px;
}

.content .content-left
{
    float: left;
    width: 822px;
}

.content .content-right
{
    float: right;
    width: 302px;
}


ul.room-list{
    list-style: none;
}
ul.room-list li{
    float: left;
    width:180px;
    height: 230px;
    margin: 7px;
}

.room a,.room a:visited{
    position: relative;
    text-decoration: none;
    color: #333;
}
.room a:hover{
    text-decoration: none;
    color: #ffc107;

}
.room a .room-bkg img{
    height: 180px;
    width: 180px;
}

.room a:hover .room-bkg img{
    transform: scale(1.3);
    transition: transform .2s ease-in-out;
}

.room .room-bkg{
    height: 180px;
    width: 180px;
    overflow: hidden;
    background-size: 180px 180px;
}

.room .room-desc{
    padding-left: 5px;
}

.room .room-container{
    width: 180px;
    text-align: center;
}
.room .room-desc i{
    float: left;
    vertical-align: sub;
    margin-top: 4px;
}
.room .room-desc span{
    float: right;
    width:150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    font-size: 14px;
}

.room .icon-firstone{
    position: absolute;
    left: 0;
    top: 0;
}
.room .icon-newbee{
    position: absolute;
    left: 0;
    top: 0;
}

.room .icon-live{
    position: absolute;
    right: -180px;
    top: 0;
    color: #fff;
    padding: 3px 3px 1px 3px;
}

.room .icon-play{
    position: absolute;
    top: 65px;
    left: 65px;
    display: none;
}

.room .icon-live:hover{
    color: #fff;
}

.panel.activity .panel-content{
    padding:15px;
}
.panel.activity a img{
    height: 90px;
    width: 270px;
}
.content-right .content-right-content{
    width: 302px;
}

.content-right .news-list{
    list-style:none;
    margin-bottom: 40px;
}

.content-right .news-list li{
    float:left;
    width:50%;
}
.content-right .news-list li a,.content-right .news-list li a:visited{
    color:#666;
    width:125px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
}
.content-right .news-list li a:hover{
    color:#ffc107;
}

.uptotop{
    cursor: pointer;
}


.footer{
    background:#fff;
    padding:20px 0 20px 0;
}

.footer .footer-content{
    width:1140px;
    margin:0 auto;
}

.footer p{
    line-height: 24px;
    color: #ccc;
}
.footer p a,.footer p a:visited{
    line-height: 24px;
    color: #ccc;
}

.footer ul{
    list-style: none;
    height: 20px;
    line-height: 20px;
    margin-bottom: 30px;
}
.footer ul li{
    float: left;
    margin-right: 20px;
    font-size: 14px;
}
.footer ul li a,.footer ul li a:visited{
    color: #999;
    text-decoration: none;
}

.footer ul li a:hover{
    color: #ffc107;
}
